import(utils, tools, codetools, svMisc)

export(browse,
       completeCode,
       completeCol,
       completeDescription,
       completeNamespace,
       completeLty,
       completePch,
       completeRoxygen,
       completeRoxygenParam,
       generateRoxygenTemplate,
       lint,
       lintDescription,
       lintNamespace,  
       pkgDesc,
       pkgInstalled,
       pkgLoaded,
       pkgWebDesc,
       searchBiblio,
       searchGraph,
       searchMailing,
       searchPackage,
       searchWiki,
       sidekick)
# Currently hidden, but may be exported in the future
#       addError,
#       emptyError,
#       getErrors,
#       resetErrors,
#       tryParse,
#       trySource,
#       parseError,
#       parseIndex,
#       parseRd)

S3method(sidekick, "default")
S3method(sidekick, "character")
S3method(sidekick, "function") 

S3method(print, "search")
S3method(browse, "search")
