import(utils, knitr, ascii)

export(cleanLyxRnw,
       knitLyxRnw,
       purlLyxRnw,
       tangleLyxRnw,
       weaveLyxRnw,
       Rdoc,
       RdocToRnw,
       RdocConvert,
       RdocThemes,
       makeRdoc)
