import(utils, knitr, ascii)
importFrom(svMisc, existsTemp)

export(cleanLyxRnw,
       knitLyxRnw,
       purlLyxRnw,
       tangleLyxRnw,
       weaveLyxRnw,
       header,
       RdocToRnw,
       RdocConvert,
       RdocThemes,
       makeRdoc)
