import(tcltk)

export(evalServer,
	   getSocketClients,
       getSocketClientsNames,
       getSocketServerName,
       getSocketServers,
	   parSocket,
       processSocket,
       sendSocketClients,
	   sendSocketServer,
       closeSocketClients,
       startSocketServer,
       stopSocketServer)
