import(utils, tools)
importFrom(methods, new, getMethods, isGeneric, showMethods, slot, slotNames)

export(addActions,
       addIcons,
       addItems,
       addMethods,
       addTemp,
       argsTip,
       assignTemp,
       batch,
       callTip,
       changeTemp,
       captureAll,
       compareRVersion,
       completion,
       def,
       descArgs,
       descFun,
       evalRjson,
       existsTemp,
       fileEdit,
       getTemp,
       guiCmd,
       guiImport,
       guiExport,
       guiLoad,
       guiReport,
       guiSave,
       guiSetwd,
       guiSource,
       helpSearchWeb,
       isAqua,
       isHelp,
       isJGR,
       isMac,
       isRgui,
       isSDI,
       isWin,
       listMethods,
       listToJson,
       listTypes,
       objBrowse,
       objClear,
       objDir,
       objInfo,
       objList,
       objMenu,
       objSearch,
       parseText,
       package,
       pkgManDescribe,
       pkgManDetach,
       pkgManGetAvailable,
       pkgManGetInstalled,
       pkgManGetMirrors,
       pkgManInstall,
       pkgManLoad,
       pkgManRemove,
       pkgManSetCRANMirror,
       progress,
       rmTemp,
       sourceClipboard,
       systemFile,
       systemDir,
       TempEnv,
       tempvar,
       toRjson,
       write.objList)

S3method(print, objList)
