import(utils)
import(tools)
importFrom(methods, getMethods, isGeneric, showMethods)

export(	addActions,
		addIcons,
		addItems,
		addMethods,
		addTemp,
		Args,
		assignTemp,
		CallTip,
		changeTemp,
		captureAll,
		clipsource,
		compareRVersion,
		Complete,
    CompletePlus,
		def,
		existsTemp,
		getEnvironment,
		getTemp,
		guiCmd,
		guiImport,
		guiExport,
		guiLoad,
		guiReport,
		guiSave,
		guiSetwd,
		guiSource,
		helpSearchWeb,
		isAqua,
		isHelp,
		isMac,
		isRgui,
		isSDI,
		isWin,
		listMethods,
		listTypes,
		objBrowse,
		objClear,
		objDir,
		objInfo,
		objList,
		objMenu,
		objSearch,
		Parse,
		progress,
		r,
		rmTemp,
		Sys.tempdir,
		Sys.userdir,
		TempEnv,
		tempvar)
