.searchPath-icon{
	list-style-image: url("chrome://komodo/skin/images/bulletlist.png");
}
.searchPath-icon:hover{
	list-style-image : url("chrome://komodo/skin/images/bulletlist_hover.png");
}

.refresh-icon{
	list-style-image: url("chrome://komodo/skin/global/images/refresh.png");
}

.r-escape-icon {
	list-style-image: url("chrome://sciviewsk/skin/images/r_escape.png");
}

.r-objects-filter {
	list-style-image: url("chrome://sciviewsk/skin/images/filter.png");
}

.robjects-loadPkg-icon {
	list-style-image: url("chrome://sciviewsk/skin/images/package_go.png");
}

.robjects-fold-all-icon {
	list-style-image: url("chrome://sciviewsk/skin/images/toggle_close.png");
}

.robjects-expand-all-icon {
	list-style-image: url("chrome://sciviewsk/skin/images/toggle_open.png");
}


.r-objects-filter:hover,
.r-objects-filter:hover:active {
	list-style-image: url("chrome://sciviewsk/skin/images/filter-a.png");
}


.r-escape-icon[disabled="true"],
.r-escape-icon[disabled="true"]:hover,
.r-escape-icon[disabled="true"]:hover:active {
	list-style-image: url("chrome://sciviewsk/skin/images/r_escape_disable.png");
}


#sciviews_robjects_objects_tree treecol#r-dims {
	text-align: right;
}


#sciviews_robjects_objects_tree treechildren::-moz-tree-indentation {
	width: 15px;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-image(icon) {
	list-style-image: url("chrome://sciviewsk/skin/images/empty.png");
	padding-right: 8px;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-indentation(type-sub-object) {
	width: 15px;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-row(type-sub-object) {
	background-color: #eaebec;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-row(type-args) {
	background-color: #d5d5ff;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-row(lastChild) {
	border-bottom: 1px #d7dde1 solid;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-row(firstChild) {
	border-top: 1px #d7dde1 solid;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-cell-text(type-sub-object) {
	color: #0000a0;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-cell-text(type-args) {
	font-style: italic;
	color: #800000;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-cell-text(class-package) {
	font-weight: bold;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-cell-text(group-function) {
	color: #333399;
}

#sciviews_robjects_objects_tree treechildren::-moz-tree-row(selected) {
	background-color: Highlight;
}




#sciviews_robjects_filterbox {
	margin: 4px 4px 2px 2px;
	/*min-width: 40px;
	max-width: 200px;*/
}



#sciviews_robjects_filterbox.badRegEx {
	color: #ea0000;
}
