import(tcltk, utils, svMisc)

export(ImgAdd,
       ImgDel,
       ImgGet,
       ImgNames,
       ImgRead,
       ImgReadPackage,
       ImgType,
       MenuAdd,
       MenuAddItem,
       MenuChangeItem,
       MenuDel,
       MenuDelItem,
       MenuInvoke,
       MenuItems,
       MenuNames,
       MenuRead,
       MenuReadPackage,
       MenuStateItem,
       MenuType,
       tkImgAdd,
       tkImgDel,
       tkImgRead,
       tkMenuAdd,
       tkMenuAddItem,
       tkMenuChangeItem,
       tkMenuDel,
       tkMenuDelItem,
       tkMenuInvoke,
       tkMenuItems,
       tkMenuStateItem,
       tkToolAdd,
       tkToolAddItem,
       tkToolChangeItem,
       tkToolDel,
       tkToolDelItem,
       tkToolInvoke,
       tkToolItems,
       tkToolStateItem,
       tkWinAdd,
       tkWinDel,
       ToolAdd,
       ToolAddItem,
       ToolChangeItem,
       ToolDel,
       ToolDelItem,
       ToolInvoke,
       ToolItems,
       ToolNames,
       ToolRead,
       ToolReadPackage,
       ToolStateItem,
       ToolType,
       WinAdd,
       WinDel,
       WinGet,
       WinNames,
       winMenuChangeItem,
       winMenuStateItem,
       winMenuInvoke)

S3method(print, guiImg)
S3method(print, guiMenu)
S3method(print, guiTool)
S3method(print, guiWin)